:host{
  display:block;
  padding: 24px;
}
.pokemon{
  max-width: 400px;
  text-align: center;
  margin: 24px auto;
}

.pokeName{
  font-size: 30px;
  font-weight: bold;
  color: #3f51b5;
}

.pokeType{
  font-weight: bold;
  color: #3f51b5;
}

.pokemon img{
  width: 100%;
}


